.newsletter-section {
    background-color: #ffffff;
    padding: 3rem 0;
}

.newsletter-section h4 {
    font-size: 1.25rem;
    color: #007bff;
    text-align: center;
    margin-bottom: 1rem;
}

.newsletter-section h2 {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
}

.newsletter-section p.lead {
    color: #6c757d;
    text-align: center;
    margin-bottom: 3rem;
}

.newsletter-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter-input {
    border-radius: 0.5rem 0 0 0.5rem;
    border-right: none;
    height: 50px;
    font-size: 1rem;
    flex: 2;
    min-width: 600px;
    padding: 0 1.5rem;
    box-shadow: none;
    border: 1px solid #ced4da;
    background-color: #f1f1f1;
    color: #333;
}

.subscribe-button {
    border-radius: 0 0.5rem 0.5rem 0;
    height: 50px;
    font-size: 1rem;
    padding: 0 2rem;
    background-color: #007bff;
    border: 1px solid #007bff;
    margin-left: -1px;
    box-shadow: none;
}

.subscribe-button:hover {
    background-color: #0056b3;
}

.newsletter-form input:focus, .subscribe-button:focus {
    outline: none;
    box-shadow: none;
}
