.pricing-section {
    background-color: #f8f9fa;
    padding: 3rem 0;
}

.pricing-section h4 {
    font-size: 1.25rem;
    color: #007bff;
    text-align: left;
}

.pricing-section h2 {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: left;
    margin-bottom: 1rem;
}

.pricing-section p.lead {
    color: #6c757d;
    text-align: left;
    margin-bottom: 3rem;
    font-weight: 600;
    font-size: 16px;
}

.pricing-card {
    border: none;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 2rem 1.5rem;
    position: relative;
}

.pricing-card h4 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    text-align: left;
}

.icon-container {
    margin-bottom: 1rem;
    text-align: left;
    padding-left: 1.5rem;
}

.pricing-icon {
    width: 80px;
    height: 80px;
    display: block;
    margin: 0;
}

.pricing-price {
    font-size: 2rem;
    font-weight: bold;
    color: #007bff;
}

.per-month {
    font-size: 1rem;
    color: #007bff;
    font-weight: bold;
}

.pricing-button {
    background-color: #007bff;
    color: #fff;
    padding: 0.75rem 0;
    margin-top: 1rem;
    border-radius: 5px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.new-badge {
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: #f39c12;
    color: #fff;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    font-weight: bold;
    font-size: 18px;
    padding: 0;
}

.pricing-card ul {
    padding: 0;
    list-style: none;
    text-align: left;
    margin-top: 2rem;
}

.pricing-card ul li {
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.short-description {
    text-align: left;
    color: #6c757d;
    font-weight: bold;
}

.description {
    text-align: left;
    color: #6c757d;
    font-weight: bold;
}

.checkmark-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}
